<!-- <div data-bind="with: vm.formVm" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"> -->
<div data-bind="with: vm.formVm" class="w-full bg-gray-900 h-full">

  <div class="flex items-center justify-center">
    <!-- <div data-bind="text: console.log($data)"></div> -->
    <form class="w-full md:w-2/3 bg-gray-700 rounded-lg mt-10" data-bind="submit: $data.handleSubmit">
      <h2 class="text-3xl text-center text-gray-300 my-4">Add New Dish</h2>
      <div class="px-12 pb-10">
        <div class="w-full mb-2">
          <div class="flex flex-col items-center">
            <input type='text' placeholder="* Dish Name"
              class="w-full border rounded px-3 py-2 text-gray-700 focus:outline-none"
              data-bind="textInput: $data.dishName" />
            <p class="self-start text-red-500" data-bind="validationMessage: $data.dishName"></p>
          </div>
        </div>
        <div class="w-full mb-2">
          <div class="flex items-center">
            <textarea rows="4" cols="50" placeholder="Description"
              class="form-textarea w-full block border rounded px-3 py-2 text-gray-700 focus:outline-none"
              data-bind="value : $data.description"></textarea>
          </div>

        </div>

        <div>
          <p class="text-gray-300 my-2">Ingredients</p>
          <div class="flex flex-wrap -m-2">

            <input type="input" class="h-10 m-2 min-w-0 border rounded px-3 py-2 text-gray-700 focus:outline-none"
              placeholder="Ingredient" />
            <input type="input" class="h-10 m-2 min-w-0  border rounded px-3 py-2 text-gray-700 focus:outline-none"
              placeholder="amount" />

            <input type="input" class="h-10 m-2 min-w-0 border rounded px-3 py-2 text-gray-700 focus:outline-none"
              placeholder="unit" />
            <button
              class="h-10 m-2 flex-grow-0 bg-green-500 text-white active:bg-green-700 font-bold uppercase text-xs px-4 rounded hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
              type="button">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg>
            </button>
          </div>
        </div>


        <button type="cancel" class="w-full mt-4 py-2 rounded-full bg-gray-500 text-gray-100  focus:outline-none"
          data-bind="click: $data.handleCancel">Cancel</button>
        <button type="submit" data-bind="enable: $data.isFormValid"
          class="w-full mt-4 py-2 rounded-full bg-green-500 text-gray-100 disabled:cursor-not-allowed disabled:text-opacity-30 focus:outline-none">Save</button>
    </form>
  </div>
</div>