<div class="bg-gray-900 h-full w-full">
  
  <div class="flex mt-4 justify-center space-x-4">
    <div class="flex-1"></div>
    <button class="flex-1 default-button-grey" data-bind="click: vm.gotoPreviousWeek">&lt; Previous Week</button>
    <button class="flex-1 default-button-grey" data-bind="click: vm.gotoPresentWeek">Present Week</button>
    <button class="flex-1 default-button-grey" data-bind="click: vm.gotoNextWeek">Next Week &gt;</button>
    
    <div class="flex-1"></div>
  </div>

  <div data-bind="foreach: vm.dayVms" class="flex flex-wrap flex-col justify-center">
    <div class="default-box m-4 flex-1">
      <div class="border-gray-400 border-b-2 p-4 m-4 flex-1">
        <div class="default-text-header text-center" data-bind="text: dayName"></div>
        <div class="default-text-header text-center" data-bind="text: dayAndMonth"></div>
      </div>
      <adminplanningday params="vm: $data"></adminplanningday>
    </div>

  </div>


</div>