
<div class="flex flex-col items-stretch bg-blue-700">
  <navigationview  class="flex-grow-0" params="vm: vm.navigationViewModel"></navigationview>
  <adminloginview params="vm: vm.adminLoginViewModel" data-bind="css: {hidden: !vm.isAdminLoginActive()}"></adminloginview>
    
  <div class="flex-grow">
    <overviewview params="vm: vm.overviewViewModel" data-bind="css: {hidden: !vm.isOverviewActive()}"></overviewview>
    <adminplanning params="vm: vm.adminPlanningViewModel" data-bind="css: {hidden: !vm.isAdminPlanningActive()}"></adminplanning>
    <admindishesview params="vm: vm.adminDishesViewModel" data-bind="css: {hidden: !vm.isAdminDishesActive()}"></admindishesview>
    <adminadddishview params="vm: vm.adminAddDishViewModel" data-bind="css: {hidden: !vm.isAdminAddDishActive()}"></adminadddishview>
    <admineditdishview params="vm: vm.adminEditDishViewModel" data-bind="css: {hidden: !vm.isAdminEditDishActive()}"></admineditdishview>
  </div>
  
  <footer class="flex-grow-0">
    Footer
  </footer>
</div>