<div>
    <div data-bind="hidden: vm.isDayInPast">
        <div class="default-text my-4">Select dish:</div>
        <div class="flex justify-center">
            <div class="flex input">
                <select class="select default-text w-48 sm:w-auto"
                    data-bind="options: vm.availableDishes,value: vm.selectedDish, optionsText: 'name', optionsCaption: 'Select a dish...'">
                </select>
            </div>
        </div>
        <div class="default-text my-4">Disable enlisting at:</div>
        <div class="flex justify-center">
            <div class="flex items-center justify-center">
                    
            </div>

            <div class="flex flex-col space-y-2">
                <div class="p-2 input">
                    <div class="flex">
                        <select name="hours" class="select default-text" data-bind="value: vm.selectedHour">
                            <option class="default-text" value="9">9</option>
                            <option class="default-text" value="10">10</option>
                            <option class="default-text" value="11">10</option>
                            <option class="default-text" value="12">12</option>
                            <option class="default-text" value="13">13</option>
                            <option class="default-text" value="14">14</option>
                            <option class="default-text" value="15">15</option>
                            <option class="default-text" value="16">16</option>
                            <option class="default-text" value="17">17</option>
                            <option class="default-text" value="18">18</option>
                        </select>
                        <span class="text-xl ml-1 mr-1 mt-2">:</span>
                        <select name="minutes" class="default-text select mr-2" data-bind="value: vm.selectedMinute">
                            <option class="default-text" value="0">00</option>
                            <option class="default-text" value="30">30</option>
                        </select>
                    </div>
                </div>
                <div class="p-2 input">
                    <select name="day" class="select default-text" data-bind="options: vm.availableDaysOfMonth, value: vm.selectedDay">
                    </select>
                    <select name="month" class="select default-text" data-bind="options: vm.availableMonths, value: vm.selectedMonth, optionsValue: $data,  optionsText: 'name'">
                    </select>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center">
            <div class="flex justify-center">
                <button class="default-button-green default-text w-1/4 mt-4 py-2 rounded"
                    type="button" data-bind="enable: (vm.isFormValid && vm.selectedDish), click: vm.addPlannedDish">
                    Add Dish
                </button>
            </div>
            <div class="text-center default-text text-red-500" data-bind="text: vm.addPlannedDishError"></div>
        </div>
    </div>


    <div class="default-text-header my-4">Planned dishes:</div>
    <div data-bind="foreach: vm.plannedDishes">
        <div class="flex flex-row items-baseline justify-between">

            <div class="default-text-header" data-bind="text: name"></div>
            <div class="default-text"
                data-bind="text: '(List closing: ' + $parent.vm.getFormattedDate($data.closing) + ')'"></div>
            <button
                class="h-8 my-2 ml-4 inline-flex items-center bg-red-500 text-white active:bg-red-700 font-bold uppercase text-xs px-4 rounded hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
                data-bind="click: $parent.vm.deletePlannedDish" type="button">
                <img class="h-6 w-6" src="./images/delete.svg" />
            </button>
        </div>
    </div>
</div>