<div class="bg-gray-900 h-full w-full mb-4">
  <div
    class="ease-in duration-700 transition-opacity opacity-100 inline-flex content-center justify-center flex-wrap modal fixed w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-modal="true" role="dialog"
    data-bind="visible: vm.isAskingForDeletion">
    <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none">
      <div
        class="modal-content border-gray-400 border-2 shadow-lg relative flex flex-col w-full pointer-events-auto bg-gray-700 bg-clip-padding rounded-md outline-none text-current">
        <div
          class="modal-header  flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
          <h5 class="default-text-header text-white" id="exampleModalScrollableLabel">
            Really delete the dish?
          </h5>
        </div>
        <div class="modal-body text-gray-200 relative p-4">
          <p data-bind="using: vm.toBeDeletedDish">
            <span class="default-text-header text-white" data-bind="text: name"></span>
          </p>
        </div>
        <div
          class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
          <button type="button"
            class="default-text inline-block px-6 py-2.5 bg-purple-600 text-white rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
            data-bind="click: vm.cancelDeleteDish" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="button"
            class="default-text text-white inline-block px-6 py-2.5 bg-red-500  rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out ml-1"
            data-bind="click: vm.acknowlageDeleteDish">
            Delete Dish
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center">

    <a href="#" data-bind="click: vm.openAddDish"
      class="mt-4 bg-green-500 hover:bg-green-700 default-text text-white py-2 px-4 font-medium rounded inline-flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="white" viewBox="0 0 5 5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="0.1"
          d="M2 1 h1 v1 h1 v1 h-1 v1 h-1 v-1 h-1 v-1 h1 z" />
      </svg>
      Add Dish
    </a>

    <div data-bind="css: {hidden: vm.dishesCount() > 0}"
      class="bg-gray-700 text-gray-200 w-4/12 rounded px-3 py-2 my-4 border-2 border-gray-400 font-medium">
      <p class="default-text-header text-white text-center">No dishes have been added yet</p>
    </div>
    <div data-bind="foreach: vm.dishes" class="w-6/12 flex flex-col">
      <div class="flex bg-gray-700 rounded px-3 py-2 my-4 border-2 border-gray-400">
        <div class="flex w-full justify-between">
          <div></div>
          <div class="flex flex-col"
            data-bind="css: {'items-center': description.length === 0, 'justify-center': description.length === 0}">

            <div class="text-gray-200 text-xs sm:text-xl lg:text-2xl font-bold text-center" data-bind="text: name"></div>
            <div class="text-gray-200 text-xs sm:text-xs lg:text-xl text-left" data-bind="text: description"></div>
          </div>

          <div class="flex flex-col flex-shrink-0 justify-center border-l-2 ml-4">
            <button
              class=" ml-4 h-8 bg-red-500 text-white active:bg-red-700 font-bold uppercase text-xs px-4 rounded hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
              data-bind="click: $parent.vm.deleteDish" type="button">
              <img class="h-6 w-6" src="./images/delete.svg" />
            </button>
            <div class="m-2"></div>
            <button data-bind="click: $parent.vm.openEditDish"
              class=" ml-4 h-8 bg-green-500 text-white active:bg-green-700 font-bold uppercase text-xs px-4 rounded hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
              type="button">
              <img class="h-6 w-6" src="./images/edit.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>