<nav class="bg-gray-800">
  <div class="max-w-7xl  px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
       
        <!-- Mobile menu button-->
        <button type="button"
          data-bind="click: vm.toggleMenu"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6"
            data-bind="css: {hidden: vm.isMenuOpen, block: !vm.isMenuOpen()}"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6"
           data-bind="css: {block: vm.isMenuOpen, hidden: !vm.isMenuOpen()}"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>


      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
            <img class="block sm:hidden h-8 w-auto" src="./images/Logo.svg"
            alt="Mampf">
          <img class="hidden sm:block h-8 w-auto"
            src="./images/Logo_long.svg" alt="Mampf">
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <a href="#" class="nav_link bg-gray-900"
              data-bind="css: {'bg-gray-900': vm.isPageActive('OVERVIEW')}, click: vm.requestOverviewPage"
              aria-current="page">Overview</a>
          </div>
        </div>
      </div>
      <div class="hidden sm:block sm:ml-6">
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <button href="#" class="nav_link bg-gray-900"
            data-bind="css: {hidden: !vm.isAdmin(), 'bg-gray-900': vm.isPageActive('ADMIN_PLANNING')}, click: vm.requestAdminPlanningPage">Planning</button>

          <button href="#" class="nav_link bg-gray-900"
            data-bind="css: {hidden: !vm.isAdmin(), 'bg-gray-900': vm.isPageActive('ADMIN_DISHES')}, click: vm.requestAdminDishesPage">Dishes</button>
        </div>
      </div>

      <button href="#" class="nav_link"
        data-bind="css: {hidden: vm.isAdmin}, click: vm.requestAdminPlanningPage">Admin</button>

      <button href="#" class="nav_link"
        data-bind="css: {hidden: !vm.isAdmin()}, click: vm.requestAdminLogout">Logout</button>
    </div>
  </div>


  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" data-bind="css: {hidden: !vm.isMenuOpen()}" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
        data-bind="css: {'bg-gray-900': vm.isPageActive('OVERVIEW')}, click: vm.requestOverviewPage"
        aria-current="page">Overview</a>

      <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
        data-bind="css: {hidden: !vm.isAdmin(), 'bg-gray-900': vm.isPageActive('ADMIN_PLANNING')}, click: vm.requestAdminPlanningPage"
        aria-current="page">Planning</a>

      <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
        data-bind="css: {hidden: !vm.isAdmin(), 'bg-gray-900': vm.isPageActive('ADMIN_DISHES')}, click: vm.requestAdminDishesPage"
        aria-current="page">Dishes</a>
    </div>
  </div>
</nav>